
.games-header{
  margin: 15px auto;
  text-align: center;
}


.games-grid{
  padding: 10px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px,1fr));
}

.games-grid_card{
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width:335px){
  .games-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .games-grid_card{
    margin: 10px auto;
  }
}
